body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0%;
}

h1{
    font-size: 37px;
}
.color-blue{
    color: blue;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: azure;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}

.flexible-container{
    display: flex;
    margin-bottom: 149px;
}

.flexible-container2{
    display: flex;
    
}

    .half-width{
        width: 50%;
        padding-left: 4.5%;
        padding-right: 4%;
        
    }
    .half-width img{
        width: 80%;
    }
    .redline{
        border-left: 3.5px solid;
        border-image: linear-gradient(red, red);
        border-image-slice: 1;
    }

 .popinfont{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-align: center;
    font-size: 40px;
 }